@import '../../../style/App.scss';


.modal-dialog.product-page-modal {
    min-width: 95%;
    z-index: 999;
}
.images-wrap {
    width: inherit;
}

.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px;
}

.each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
}

.modal {
    margin: 0 !important;
    z-index: 9999 !important;
}
.product-page-modal {
    .product-image {
        background-position: center;
    }
    .product-content {
        z-index: 300;
        margin-top: 7%;
    }
}
button.nav.default-nav {
    z-index: 9999;
}
.modal-body {
    min-height: 400px;
}

.modal-product-h3 {
    font-size: 30px;
    color: $cann-yellow-color;
}
.modal-product-h4 {
    font-size: 20px;
    color: $cann-blue-color;
    margin-bottom: 10px;
}
  


@media screen and (min-width: 900px) {
    .product-page-modal {
        .product-content {
            position: absolute;
        }
        .product-slide {
            max-width: 50%;
        }
        .product-html {
            float: right;
            margin: 0 10%;
            ul {
                text-align: left;
            }
        }

        // .product-image {
            
        // }
    }
}