@import '../../style/App.scss';

.extraLargePaddingTop {
    padding-top: 29px;
}
.carousel-component {
    margin-top: 120px;
    .carousel  {
        .slider {
            .legend {
                opacity: 1;
                border-radius: 15px;

                span {
                    font-weight: bold;
                    text-align: center;
                }
                p {
                    text-align: left;
                    font-weight: normal;
                }
            }
            .first {
                background: $cann-yellow-color;
                color: $cann-blue-color;
            }
            .third {
                background: $cann-blue-color;
                color: $cann-yellow-color;
            }
        }

        .slide {
            background: none;
        }

        p.carousel-status {
            display: none;
        }
        // ul.control-dots {
        //     display: none;
        // }

        div.thumbs-wrapper.axis-vertical {
            display: none;
        }
    }
}

@media only screen and (min-width: $laptop-width) {
    .carousel-component {
        .carousel {
            .slider {
                .legend {
                    bottom: 100px;
                    width: 40%;
                    height: 35%;
                }

                span {
                    font-size: 32px;
                }
            }
        }

    }
}



