@import '../../style/App.scss';


// .carousell-img {
//     max-height: 600px;
// }
.banner-carousell {
    padding-top: 140px;

    .awssld__wrapper {
        height: 450px;
    }

    .awssld__bullets {
        background-color: $cann-yellow-color;
        z-index: 999;
        bottom: -1px;
        position: relative;
    }
}


